
.section-tours{
    padding: 1rem 0 1rem;

    @include respond(tab-port){
        padding: 1rem 0 2rem;
    }
}




.ui {
    display: flex;
}

.ui_sidebar {
    flex-basis: 25%;
    margin-left: 2rem;
}

.ui_main {
    margin-top: 1rem;
}

.myDIV {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 1rem;
}

.btn {
    padding: 1rem 2rem;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 1rem;
}

.active,
.ui_btn:hover {
    background: rgb(54, 54, 126);
    color: white;
}


.expense-form {
    width: 50%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expense-form_main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.expense_inp {
    padding: 1rem;
    margin-bottom: 1rem;
}

.btn {
    cursor: pointer;
    padding: .5rem 1rem;
}

.errMessage {
    display: none;
}

.errMessage_show {
    display: block;
    color: red;
    text-align: center;
    padding: .2rem .5rem;
    margin-bottom: 1rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Style the active class (and buttons on mouse-over) */
.active,
.btn:hover {
    background-color: #666;
    color: white;
}